WYOMING_STT_IMAGE=rhasspy/wyoming-whisper:3.7.0@sha256:ea74afa3e3c347cd031d946b4950b7438ae4bfd07ef96a04ac8a7095f36f4ac6
WYOMING_STT_LAN_ADDRESS=192.168.30.122
WYOMING_STT_PORT=10300
WYOMING_STT_MODEL=small-int8
WYOMING_STT_LANGUAGE=da
WYOMING_STT_BEAM_SIZE=1
WYOMING_STT_CPU_THREADS=4
WYOMING_STT_CPUS=4
WYOMING_STT_MEMORY_LIMIT=4g
